.navbar-container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "burger";
}

.logo{
    border-radius: 10px;
    text-shadow: 1px 1px 1px gray;
    width: 30%;
}

.botonNavbar{
    background: transparent;
    border: none;
    color: #3C3C3C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-shadow: 1px 1px 1px gray;
    text-decoration: none;
}

.botonNavbar:hover{
    font-weight: bold;  
    cursor: pointer;
    transition: 0.1s;
    scale: 1.05; 
}

.logo:hover{
    cursor: pointer;
    transition: 0.1s;
    scale: 1.1;
}

.menu-button{
    border-radius: 50%;
    border: 0.5px;
    box-shadow: 1px 1px 7px #3C3C3C;
    padding: 10%;
    width: 10%;
}

@media screen and (min-width: 768px){
    .logo{
        width: 20%;
    }
}

@media screen and (min-width: 1024px){

    .navbar-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo" "dama" "caballero" "carrito";
    }

    .logo{
        width: 30%;
    }
}